<div id="user-question">
  <blockquote>
    <p><%= params[:question] %></p>
    <p>-You</p>
  </blockquote>
</div>

<div id="coach-answer">
  <blockquote>
    <p><%= @answer %></p>
    <p>-Your Coach</p>
  </blockquote>
</div>